@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: monospace;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  @apply bg-stone-900 text-stone-100;
}

@keyframes float-up {
  0% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }

  100% {
    transform: translateY(-50px) scale(1.5);
    opacity: 0;
  }
}

.animate-float-up {
  animation: float-up 0.8s ease-out forwards;
}
